@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//Colors
$font: #252b46;
$red: #fa5757;
$white: #ffffff;
$semiWhite: #f5f5f5;
$blue: #5368df;
$gray: #9194a1;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $gray;
    background-clip: padding-box;
    border: 2px solid $font;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background-color: $font;
}

body {
    font-family: "Rubik", sans-serif;
    background: $white;
}

header {
    max-width: 1200px;
    background: transparent;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    nav {
        margin-right: 115px;
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $font;
                    text-transform: uppercase;
                    margin: 0;
                    display: block;
                    padding: 8px 25px;
                    border-radius: 4px;
                    font-size: 14px;
                    border: 1.5px solid transparent;
                    transition: all 0.2s;
                    letter-spacing: 1px;
                    &:hover {
                        color: $red;
                    }
                }
                &:nth-child(4) a {
                    background: $red;
                    color: $semiWhite;
                    border-color: $red;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
                    &:hover {
                        background: $white;
                        color: $red;
                    }
                }
            }
        }
    }
}

main {
    max-width: 1200px;
    background: transparent;
    margin: 100px auto;
    section#section1 {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        div.left {
            margin-bottom: 25px;
            @media (max-width: 768px) {
                order: 2;
                margin-top: 80px;
                text-align: center;
            }
            h1 {
                color: $font;
                font-size: 50px;
            }
            p {
                color: $gray;
                font-size: 18px;
                max-width: 90%;
                margin: 25px auto;
                line-height: 1.5;
                @media (max-width: 768px) {
                    max-width: 70%;
                }
            }
            div.buttons {
                button {
                    border: 1.5px solid transparent;
                    transition: all 0.2s;
                    padding: 12px 17px;
                    border-radius: 4px;
                    outline: 0;
                    cursor: pointer;
                    font-weight: bold;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
                }
                :nth-child(1) {
                    background: $blue;
                    color: $semiWhite;
                    &:hover {
                        background: $white;
                        color: $blue;
                        border-color: $blue;
                    }
                }
                :nth-child(2) {
                    background: $white;
                    color: $font;
                    margin-left: 12px;
                    &:hover {
                        border-color: $font;
                    }
                }
            }
        }
        div.right {
            z-index: 5;
            position: relative;
            @media (max-width: 768px) {
                width: 100%;
            }
            img {
                position: relative;
                left: 100px;
                @media (max-width: 768px) {
                    width: 100%;
                    left: 0;
                }
            }
            &::after {
                content: "";
                background: #5368df;
                width: 82.2%;
                height: 340px;
                position: absolute;
                z-index: -1;
                left: 280px;
                top: 150px;
                border-radius: 0 0 0 200px;
                @media (max-width: 768px) {
                    width: 100%;
                    height: 220px;
                    left: 60px;
                }
            }
        }
    }
    section#section2 {
        margin: 120px auto;
        .textPart {
            text-align: center;
            h1 {
                color: $font;
                font-size: 28px;
            }
            p {
                max-width: 45%;
                margin: 20px auto;
                color: $gray;
                font-size: 18px;
                line-height: 1.5;
                @media (max-width: 768px) {
                    max-width: 90%;
                }
            }
        }
        .changeBox {
            width: 65%;
            margin: 55px auto;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e0e0e0;
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                width: 80%;
            }
            button {
                padding: 30px 67px;
                font-size: 16px;
                border: none;
                background: no-repeat;
                color: #666666;
                cursor: pointer;
                outline: 0;
                margin: -1px;
                @media (max-width: 768px) {
                    border-top: 1px solid #e0e0e0;
                    width: 100%;
                    margin: 0;
                    padding: 20px 67px;
                }
                &:hover {
                    color: $red;
                }
            }
            button.active {
                border-bottom: 4px solid $red;
                color: $font;
            }
        }
        .boxes {
            .box {
                position: absolute;
                display: none;
                .left {
                    z-index: 5;
                    position: relative;
                    &::before {
                        content: "";
                        background: #5368df;
                        width: 115%;
                        height: 330px;
                        position: absolute;
                        z-index: -1;
                        left: -165px;
                        top: 100px;
                        border-radius: 0 0 150px 0;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 170px;
                    h1 {
                        color: $font;
                    }
                    p {
                        color: $gray;
                        font-size: 18px;
                        max-width: 90%;
                        margin: 25px auto;
                        line-height: 1.5;
                    }
                    button {
                        border: none;
                        border-radius: 5px;
                        font-weight: bold;
                        background-color: $blue;
                        color: $semiWhite;
                        width: 110px;
                        height: 50px;
                        cursor: pointer;
                        outline: 0;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
                    }
                }
            }
            .box.active {
                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button {
                        display: none;
                    }
                    .left {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                        &::before {
                            width: 100%;
                            height: 200px;
                            left: -50px;
                            top: 80px;
                        }
                    }
                    .right {
                        margin: 130px auto;
                        text-align: center;
                        p {
                            max-width: 70%;
                        }
                    }
                }
            }
        }
    }

    section#section3 {
        margin-top: 600px;
        text-align: center;
        @media (max-width: 768px) {
            margin-top: 710px;
        }
        .textPart {
            h1 {
                color: $font;
                font-size: 28px;
            }
            p {
                max-width: 40%;
                margin: 25px auto;
                font-size: 16px;
                color: $gray;
                @media (max-width: 768px) {
                    max-width: 90%;
                }
            }
        }
        .containerCards {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin: 0 25px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
                .logo {
                    padding: 30px;
                }
                .text {
                    margin: 20px;
                    p {
                        margin: 15px;
                    }
                }
                button {
                    margin: 30px;
                    padding: 16px 35px;
                    width: 85%;
                    border: none;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: bold;
                    background: $blue;
                    color: $semiWhite;
                    cursor: pointer;
                    transition: all 0.2s;
                    border: 2px solid transparent;
                    &:hover {
                        color: $blue;
                        background: $white;
                        border-color: $blue;
                    }
                }
            }
            .card:nth-child(2) {
                position: relative;
                top: 60px;
            }
            .card:nth-child(3) {
                position: relative;
                top: 120px;
            }
        }
    }
    section#section4 {
        margin-top: 300px;
        margin-bottom: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .text {
            text-align: center;
            h1 {
                color: $font;
                font-size: 28px;
            }
            p {
                max-width: 60%;
                margin: 25px auto;
                font-size: 16px;
                color: $gray;
                line-height: 1.5;
            }
        }
        .containerQuestions {
            width: 45%;
            margin: 50px 0;
            ul {
                li {
                    list-style: none;
                    padding: 3px;
                    border-top: 1px solid #e0e0e0;
                    .question {
                        display: flex;
                        justify-content: space-between;
                        font-size: 15px;
                        margin: 20px 0;
                        cursor: pointer;
                        h3,
                        i {
                            display: inline-block;
                        }
                        i {
                            color: $blue;
                            margin-right: 20px;
                            font-size: 18px;
                        }
                        i.fa-chevron-up {
                            color: $red;
                        }
                        color: #555555;
                        &:hover {
                            color: $red;
                        }
                    }
                    .answer {
                        display: none;
                    }
                    .answer.active {
                        p {
                            margin: 25px 0;
                            color: $gray;
                            line-height: 2;
                            font-size: 16px;
                        }
                        display: block;
                    }
                }
                :nth-child(4) {
                    border-bottom: 1px solid #e0e0e0;
                }
            }
        }
        button {
            border: none;
            border-radius: 5px;
            font-weight: bold;
            background-color: $blue;
            color: $semiWhite;
            width: 110px;
            height: 50px;
            cursor: pointer;
            outline: 0;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

footer {
    color: $white;
    .top {
        background: $blue;
        padding: 80px 0;
        text-align: center;
        p {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 14px;
            margin: 20px 0 40px 0;
        }
        h1 {
            max-width: 30%;
            margin: 20px auto;
        }
        form {
            margin-top: 40px;
            position: relative;
            #field {
                padding: 15px 20px;
                border: 2px solid transparent;
                border-radius: 4px;
                outline: 0;
                width: 300px;
                margin-right: 20px;
                color: $font;
                position: relative;
                display: inline-block;
                &::placeholder {
                    color: rgb(172, 168, 168);
                }
            }
            label#errorLabel {
            }
            label#iconLabel {
                position: relative;
                right: 50px;
                color: $red;
                font-size: 22px;
                top: 5px;
                display: none;
            }
            label#iconLabel.error {
                display: inline-block;
            }
            #field.error {
                border-color: $red;
            }
            input[type="submit"] {
                padding: 16px 20px;
                border-radius: 4px;
                background: $red;
                color: $white;
                outline: 0;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
                border: 2px solid transparent;
                transition: all 0.2s;
                &:hover {
                    border-color: $red;
                    background: $white;
                    color: $red;
                }
            }
        }
    }
    .bottom {
        margin: auto;
        background: $font;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            margin-left: 180px;
            display: flex;
            align-items: center;
            nav {
                ul {
                    display: flex;
                    li {
                        list-style: none;
                        a {
                            display: block;
                            text-transform: uppercase;
                            color: $white;
                            text-decoration: none;
                            padding: 40px;
                            font-size: 14px;
                            letter-spacing: 1px;
                            transition: all 0.2s;
                            &:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
        .right {
            margin-right: 180px;
            a {
                color: $white;
                font-size: 27px;
                margin: 0 20px;
                transition: all 0.2s;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}
