@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9194a1;
  background-clip: padding-box;
  border: 2px solid #252b46;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: #252b46;
}

body {
  font-family: "Rubik", sans-serif;
  background: #ffffff;
}

header {
  max-width: 1200px;
  background: transparent;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav {
  margin-right: 115px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #252b46;
  text-transform: uppercase;
  margin: 0;
  display: block;
  padding: 8px 25px;
  border-radius: 4px;
  font-size: 14px;
  border: 1.5px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 1px;
}

header nav ul li a:hover {
  color: #fa5757;
}

header nav ul li:nth-child(4) a {
  background: #fa5757;
  color: #f5f5f5;
  border-color: #fa5757;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

header nav ul li:nth-child(4) a:hover {
  background: #ffffff;
  color: #fa5757;
}

main {
  max-width: 1200px;
  background: transparent;
  margin: 100px auto;
}

main section#section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main section#section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main section#section1 div.left {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  main section#section1 div.left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 80px;
    text-align: center;
  }
}

main section#section1 div.left h1 {
  color: #252b46;
  font-size: 50px;
}

main section#section1 div.left p {
  color: #9194a1;
  font-size: 18px;
  max-width: 90%;
  margin: 25px auto;
  line-height: 1.5;
}

@media (max-width: 768px) {
  main section#section1 div.left p {
    max-width: 70%;
  }
}

main section#section1 div.left div.buttons button {
  border: 1.5px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 12px 17px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

main section#section1 div.left div.buttons :nth-child(1) {
  background: #5368df;
  color: #f5f5f5;
}

main section#section1 div.left div.buttons :nth-child(1):hover {
  background: #ffffff;
  color: #5368df;
  border-color: #5368df;
}

main section#section1 div.left div.buttons :nth-child(2) {
  background: #ffffff;
  color: #252b46;
  margin-left: 12px;
}

main section#section1 div.left div.buttons :nth-child(2):hover {
  border-color: #252b46;
}

main section#section1 div.right {
  z-index: 5;
  position: relative;
}

@media (max-width: 768px) {
  main section#section1 div.right {
    width: 100%;
  }
}

main section#section1 div.right img {
  position: relative;
  left: 100px;
}

@media (max-width: 768px) {
  main section#section1 div.right img {
    width: 100%;
    left: 0;
  }
}

main section#section1 div.right::after {
  content: "";
  background: #5368df;
  width: 82.2%;
  height: 340px;
  position: absolute;
  z-index: -1;
  left: 280px;
  top: 150px;
  border-radius: 0 0 0 200px;
}

@media (max-width: 768px) {
  main section#section1 div.right::after {
    width: 100%;
    height: 220px;
    left: 60px;
  }
}

main section#section2 {
  margin: 120px auto;
}

main section#section2 .textPart {
  text-align: center;
}

main section#section2 .textPart h1 {
  color: #252b46;
  font-size: 28px;
}

main section#section2 .textPart p {
  max-width: 45%;
  margin: 20px auto;
  color: #9194a1;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  main section#section2 .textPart p {
    max-width: 90%;
  }
}

main section#section2 .changeBox {
  width: 65%;
  margin: 55px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  main section#section2 .changeBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
}

main section#section2 .changeBox button {
  padding: 30px 67px;
  font-size: 16px;
  border: none;
  background: no-repeat;
  color: #666666;
  cursor: pointer;
  outline: 0;
  margin: -1px;
}

@media (max-width: 768px) {
  main section#section2 .changeBox button {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    margin: 0;
    padding: 20px 67px;
  }
}

main section#section2 .changeBox button:hover {
  color: #fa5757;
}

main section#section2 .changeBox button.active {
  border-bottom: 4px solid #fa5757;
  color: #252b46;
}

main section#section2 .boxes .box {
  position: absolute;
  display: none;
}

main section#section2 .boxes .box .left {
  z-index: 5;
  position: relative;
}

main section#section2 .boxes .box .left::before {
  content: "";
  background: #5368df;
  width: 115%;
  height: 330px;
  position: absolute;
  z-index: -1;
  left: -165px;
  top: 100px;
  border-radius: 0 0 150px 0;
}

main section#section2 .boxes .box .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 170px;
}

main section#section2 .boxes .box .right h1 {
  color: #252b46;
}

main section#section2 .boxes .box .right p {
  color: #9194a1;
  font-size: 18px;
  max-width: 90%;
  margin: 25px auto;
  line-height: 1.5;
}

main section#section2 .boxes .box .right button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #5368df;
  color: #f5f5f5;
  width: 110px;
  height: 50px;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

main section#section2 .boxes .box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  main section#section2 .boxes .box.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#section2 .boxes .box.active button {
    display: none;
  }
  main section#section2 .boxes .box.active .left {
    width: 100%;
  }
  main section#section2 .boxes .box.active .left img {
    width: 100%;
  }
  main section#section2 .boxes .box.active .left::before {
    width: 100%;
    height: 200px;
    left: -50px;
    top: 80px;
  }
  main section#section2 .boxes .box.active .right {
    margin: 130px auto;
    text-align: center;
  }
  main section#section2 .boxes .box.active .right p {
    max-width: 70%;
  }
}

main section#section3 {
  margin-top: 600px;
  text-align: center;
}

@media (max-width: 768px) {
  main section#section3 {
    margin-top: 710px;
  }
}

main section#section3 .textPart h1 {
  color: #252b46;
  font-size: 28px;
}

main section#section3 .textPart p {
  max-width: 40%;
  margin: 25px auto;
  font-size: 16px;
  color: #9194a1;
}

@media (max-width: 768px) {
  main section#section3 .textPart p {
    max-width: 90%;
  }
}

main section#section3 .containerCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

@media (max-width: 768px) {
  main section#section3 .containerCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main section#section3 .containerCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin: 0 25px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
}

main section#section3 .containerCards .card .logo {
  padding: 30px;
}

main section#section3 .containerCards .card .text {
  margin: 20px;
}

main section#section3 .containerCards .card .text p {
  margin: 15px;
}

main section#section3 .containerCards .card button {
  margin: 30px;
  padding: 16px 35px;
  width: 85%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background: #5368df;
  color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid transparent;
}

main section#section3 .containerCards .card button:hover {
  color: #5368df;
  background: #ffffff;
  border-color: #5368df;
}

main section#section3 .containerCards .card:nth-child(2) {
  position: relative;
  top: 60px;
}

main section#section3 .containerCards .card:nth-child(3) {
  position: relative;
  top: 120px;
}

main section#section4 {
  margin-top: 300px;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#section4 .text {
  text-align: center;
}

main section#section4 .text h1 {
  color: #252b46;
  font-size: 28px;
}

main section#section4 .text p {
  max-width: 60%;
  margin: 25px auto;
  font-size: 16px;
  color: #9194a1;
  line-height: 1.5;
}

@media (max-width: 768px) {
  main section#section4 .text p {
    max-width: 80%;
  }
}

main section#section4 .containerQuestions {
  width: 45%;
  margin: 50px 0;
}

@media (max-width: 768px) {
  main section#section4 .containerQuestions {
    width: 90%;
  }
}

main section#section4 .containerQuestions ul li {
  list-style: none;
  padding: 3px;
  border-top: 1px solid #e0e0e0;
}

main section#section4 .containerQuestions ul li .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  margin: 20px 0;
  cursor: pointer;
  color: #555555;
}

main section#section4 .containerQuestions ul li .question h3,
main section#section4 .containerQuestions ul li .question i {
  display: inline-block;
}

main section#section4 .containerQuestions ul li .question i {
  color: #5368df;
  margin-right: 20px;
  font-size: 18px;
}

main section#section4 .containerQuestions ul li .question i.fa-chevron-up {
  color: #fa5757;
}

main section#section4 .containerQuestions ul li .question:hover {
  color: #fa5757;
}

main section#section4 .containerQuestions ul li .answer {
  display: none;
}

main section#section4 .containerQuestions ul li .answer.active {
  display: block;
}

main section#section4 .containerQuestions ul li .answer.active p {
  margin: 25px 0;
  color: #9194a1;
  line-height: 2;
  font-size: 16px;
}

main section#section4 .containerQuestions ul :nth-child(4) {
  border-bottom: 1px solid #e0e0e0;
}

main section#section4 button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #5368df;
  color: #f5f5f5;
  width: 110px;
  height: 50px;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

footer {
  color: #ffffff;
}

footer .top {
  background: #5368df;
  padding: 80px 0;
  text-align: center;
}

footer .top p {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  margin: 20px 0 40px 0;
}

footer .top h1 {
  max-width: 30%;
  margin: 20px auto;
}

@media (max-width: 768px) {
  footer .top h1 {
    max-width: 100%;
  }
}

footer .top form {
  margin-top: 40px;
  position: relative;
}

footer .top form #field {
  padding: 15px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: 0;
  width: 300px;
  margin-right: 20px;
  color: #252b46;
  position: relative;
  display: inline-block;
}

footer .top form #field::-webkit-input-placeholder {
  color: #aca8a8;
}

footer .top form #field:-ms-input-placeholder {
  color: #aca8a8;
}

footer .top form #field::-ms-input-placeholder {
  color: #aca8a8;
}

footer .top form #field::placeholder {
  color: #aca8a8;
}

@media (max-width: 768px) {
  footer .top form #field {
    margin: 0;
  }
}

footer .top form label#iconLabel {
  position: relative;
  right: 50px;
  color: #fa5757;
  font-size: 22px;
  top: 5px;
  display: none;
}

footer .top form label#iconLabel.error {
  display: inline-block;
}

footer .top form #field.error {
  border-color: #fa5757;
}

footer .top form input[type="submit"] {
  padding: 16px 20px;
  border-radius: 4px;
  background: #fa5757;
  color: #ffffff;
  outline: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .top form input[type="submit"]:hover {
  border-color: #fa5757;
  background: #ffffff;
  color: #fa5757;
}

@media (max-width: 768px) {
  footer .top form input[type="submit"] {
    width: 300px;
    margin-top: 17px;
  }
}

footer .bottom {
  margin: auto;
  background: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .bottom .left {
  margin-left: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer .bottom .left {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .bottom .left nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  footer .bottom .left nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .bottom .left nav ul li {
  list-style: none;
}

footer .bottom .left nav ul li a {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .bottom .left nav ul li a:hover {
  color: #fa5757;
}

@media (max-width: 768px) {
  footer .bottom .left nav ul li a {
    padding: 20px;
  }
}

footer .bottom .right {
  margin-right: 180px;
}

@media (max-width: 768px) {
  footer .bottom .right {
    margin: 20px;
  }
}

footer .bottom .right a {
  color: #ffffff;
  font-size: 27px;
  margin: 0 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .bottom .right a:hover {
  color: #fa5757;
}
/*# sourceMappingURL=styles.css.map */